@import '../../colors.scss';

.row{
    margin-left: 20px;
    color: $typo-color;
}

.slider-container{
    display: flex;
    align-items: center;
}

.arrow-container{
    height: 100px;
    display: flex;
    align-items: center;

    &:hover{
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 1px;
    }
}


.row-posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 8px;
    scroll-behavior: smooth;
}

.row-posters::-webkit-scrollbar {
    display: none;
}

.row-poster{
    width: 190px;
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
}

.row-posterLarge{
    max-height: 250px;
}
.row-posterLarge:hover{
    transform: scale(1.08);
}


.row-poster:hover{
    transform: scale(1.08);
}